.logo-link {
    font-family: var(--sacondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.nav__logo-link {
    margin-right: 93px;
    color: var(--bleak-text);    
}   
.footer__logo-link {
    color: var(--white-text);
}
.logo-link__text {
    color: var(--select-color);
}